<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Products: <%= controller %></title>

  <style media="screen" rel="stylesheet" type="text/css" />
    body
    {
      background-color: #e1e1e1;
    }
    
    body,td,th,div {
      font-family:  sans-serif;
      color: #252525;
      font-size: 13px;
    }

    body, html, form
    {
      height: 100%;
      margin: 0px;
      padding: 0px;	
    }

    div.maindiv
    {
      background-color: #d1d1d1;
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid #c1c1c1;
      width: 500px;
      height: 300px;
      margin-left: -250px;
      margin-top: -150px;
      box-shadow: 10px 10px 5px #888;
      padding: 7px;
      overflow: auto;
    }

    tr.maintr
    {
      height: 60px;
    }

    a 
    {
      text-decoration: underline;
      display:inline;
      color: #559948;
      cursor:pointer;cursor:hand;
    }

    a:hover 
    {
      color: #000;
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="maindiv">
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield %>
</div>
</body>
</html>
